<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
<style>
.admin_preview {
	width:100%;
}
.admin_preview p {
	word-wrap:break-word;
}
</style>
</head>
<body>
	<p>Tweet status updated</p>
</body>
</html>