					<span id="content">
						<p class="m-left-30 m-right-30">{$content}</p>
						<h3 class="user-subtitle"> ~ Boticus</h3>

<!--
						<span style="margin-left:80px">
						<object class="playerpreview" type="application/x-shockwave-flash" data="/_media/player_mp3_mini.swf" width="200" height="20">
							<param name="movie" value="/_media/player_mp3_mini.swf" />
							<param name="bgcolor" value="#8A8A8A" />
							<param name="FlashVars" value="mp3={$mp3_url}" />
						</object>
						</span>
-->
						<span id="numeral"> {$numeral} </span>
					</span>

