<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<title>{$title} - {$name}</title>
	<meta http-equiv="content-type" content="application/xhtml+xml;charset=utf-8" />
	<style type="text/css">
		body {background-color: #fff; color: #000; width: 800px; font-family: 'courier', 'courier new', monotype;}
		h1, h2 {background-color: #fff; color: #999; font-family:"Times New Roman",Georgia,serif;}
		h1 {font-size: 2em;}
		h2 {font-size: 1.5em;}
		em {border: solid #000 1px; padding: 0 5px; font-style: normal;}
		.error {background-color: #ff0; color: #c00;}
		.message {background-color: #fff; color: #0c0;}
	</style>
</head>
<body>

