body {
  background: #DFDFDF;
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
	font-size:42px;
	color:#ff7f02;
}

.container_24 {
	height:100%;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

p {
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

.container_12,
.container_16,
.container_24 {
  background-color: #fff;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}

.lookbutton {
	border:4px outset black;
	background-color:gray;
	padding:5px;
	margin-top:120px;
	width:400px;
	margin:20px;
	font-size:20px;
}